# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../tmuxvim\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\Projects\tmuxvim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
